body{
    font-family: 'Kiwi Maru', serif;
    color: #F9C6D7;
    width: 100%;
    height: 100%;
    background-color: #3CA2C8;
    
}
.samplemainbody {
    background-color: black;
}

.aboutmaindiv {
    background-color: black;
}
h1 {
    text-align: center;
    width: 100%;
    font-size: 3em;
    
    
}
h3 {
 text-align: center;
 width: 100%;
}

.maindiv {
    padding: 17% 0;

}
.test {
    color: #F9C6D7;
    width: 100%;
    height: 100%;
    background-color: #3CA2C8;
    padding: 0 10%;

}
header {
    color: #F9C6D7;
    width: 100%;
    height: 100%;
    background-color: #3CA2C8;
    padding-top: 4%;
    

}
.title {
    color: #F9C6D7;
    text-shadow: 1px 1px #10559A;
    font-size: 1.5em;
}


hr {
    text-align: center;
    width: 80%;
    height: 20px;
    color: #F9C6D7;
    margin: auto;
    border-top: 2px solid #DB4C77;
    

}
.pink {
    color: #F9C6D7;
    background-color: #3CA2C8;
}
.navbar-nav {
    margin-left: 87%;
}

  
.navbar-toggle.collapsed {
    background-color: #F9C6D7 !important;
  } 

  .dropdown-item {
    color: #F9C6D7;
  }


  .blue:hover { 
    background-color: #3CA2C8;
    color: #10559A;
    
  }
  .hotpink:hover { 
    background-color: #3CA2C8;
    color: #DB4C77;
    
  }
  .aboutnav {
    background-color: black;
    color: aqua;
    
  } 
  

  .custom-toggler .navbar-toggler-icon {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(249, 198, 215)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                
                border-color: #F9C6D7;
    
  }


  
  .custom-toggler.navbar-toggler {
    border-color: #F9C6D7;
    color: #F9C6D7;
}
.rotate { 
  
    display: inline-block;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
  .samplenav  {
    background-color: black;
  }
.samplenavbar {
    margin-top: 0px;
    padding-top: 0.5%;
}
.navheader {
    padding-top: .1%;
}

.grid
 {
  display: grid;
  padding-top: 2%;
  margin-left: 11%;
  margin-right: 10%;
  grid-template-columns: repeat(2,525px);  /* 2 columns */
  grid-template-rows: repeat(2,300x); /* 2 rows  */
  grid-gap:30px 50px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.grid-item{
  border: 2px #F9C6D7 solid;
  padding:10px;
}
img {
  width: 100%;
  height: 97%;
}
@media screen and (max-width: 600px) {
    .grid
 {
  display: grid;
  padding-top: 2%;
  margin-left: 11%;
  margin-right: 10%;
  grid-template-columns: repeat(1,400px);  /* 2 columns */
  grid-template-rows: repeat(1,200x); /* 2 rows  */
  grid-gap:30px 50px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.grid-item{
  border: 2px #F9C6D7 solid;
  padding:10px;
}
img {
  width: 100%;
  height: 97%;
}
.title {
    font-size: 1em;
}
.maindiv {
    margin-top: 65%;
}
  }